<!DOCTYPE html>
<html lang="ja">
   <head>
       <meta charset="utf-8">
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
       <link rel="stylesheet" href="../css/mypage3.css">
       <title>マイページ</title>
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light h-100" id="na">
         <a class="navbar-brand" href="#" style="font-size: 0.25em;">　<　プロフィール</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"  style="height: 60px;width: 70px;"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
               <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="#">Features</a>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="#">Pricing</a>
               </li>
            </ul>
            <span class="navbar-text">
               Navbar text with an inline element
            </span>
         </div>
      </nav>
     
      <div class="area"　class="w-100">
         <input type="radio" name="tab_name" id="tab1" checked>
         <label class="tab_class" for="tab1">すべて</label>
         <div class="content_class">
           <div class="box">
              <p class="title">ご購入ありがとうございます。</p>
              <p class="p">通知内容 : こちらから入金してください</p>
           </div>
           <div class="box">
               <p class="title">ご購入ありがとうございます。</p>
               <p class="p">通知内容 : こちらから入金してください</p>
            </div>
            <div class="box">
               <p class="title">ご購入ありがとうございます。</p>
               <p class="p">通知内容 : こちらから入金してください</p>
            </div>
            <div class="box">
               <p class="title">ご購入ありがとうございます。</p>
               <p class="p">通知内容 : こちらから入金してください</p>
            </div>
         </div>
         <input type="radio" name="tab_name" id="tab2" >
         <label class="tab_class" for="tab2">メッセージ</label>
         <div class="content_class">
           <p>タブ2のコンテンツを表示します</p>
         </div>
      </div>
      
      
   </body>
   
</html>