<!DOCTYPE html>
<html lang="ja">
   <head>
       <meta charset="utf-8">
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
       <link rel="stylesheet" href="../css/mypage2.css">
       <title>マイページ</title>
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light h-100" id="na">
         <a class="navbar-brand" href="#" style="font-size: 0.25em;">　<　履歴</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"  style="height: 60px;width: 70px;"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
               <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="#">Features</a>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="#">Pricing</a>
               </li>
            </ul>
            <span class="navbar-text">
               Navbar text with an inline element
            </span>
         </div>
      </nav>
      <div class="box">
         <p class="head">XXXX年X月XX日Parchased!</p>
         <p class="syamei">トヨタ</p>
         <p class="car">プリウス　1.8S</p>
         <p class="text">目玉！あああああああああ</p>
         <img src="1jpg.jpg">
         <div class="te">
            <p>aaaa</p>
            <p>sssss</p>
            <p>dddd</p>
         </div>
         <div class="ri">
            <p class="p">現在の価格<span>230</span>万円</p>
            <p>年式　2020年</p>
            <p>車検　2年6月</p>
            <p>修復　なし</p>
            <div class="r">
               <p>整備　整備付</p>
               <p>走行　20㎞</p>
               <p>キズ　なし</p>
            </div>
         </div>
      </div>
      <div class="box">
         <p class="head">XXXX年X月XX日Parchased!</p>
         <p class="syamei">トヨタ</p>
         <p class="car">プリウス　1.8S</p>
         <p class="text">目玉！あああああああああ</p>
         <img src="1jpg.jpg">
         <div class="te">
            <p>aaaa</p>
            <p>sssss</p>
            <p>dddd</p>
         </div>
         <div class="ri">
            <p class="p">現在の価格<span>230</span>万円</p>
            <p>年式　2020年</p>
            <p>車検　2年6月</p>
            <p>修復　なし</p>
            <div class="r">
               <p>整備　整備付</p>
               <p>走行　20㎞</p>
               <p>キズ　なし</p>
            </div>
         </div>
      </div>
      
      
      
   </body>
   
</html>