<!DOCTYPE html>
<html lang="ja">
   <head>
       <meta charset="utf-8">
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
       <link rel="stylesheet" href="../css/mypage4.css">
       <title>マイページ</title>
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light h-100" id="na">
         <a class="navbar-brand" href="#" style="font-size: 0.25em;">　<　メッセージ</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"  style="height: 60px;width: 70px;"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
               <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="#">Features</a>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="#">Pricing</a>
               </li>
            </ul>
            <span class="navbar-text">
               Navbar text with an inline element
            </span>
         </div>
      </nav>
     
      <div class="container">
         <div class="row">
   
            <img src="1jpg.jpg" id="sya">
            <p id="name">（担当）</p>
            <div class="w-100" id="title">
               <p>Title : 落札確認いたしました</p>
            </div>
            <div　class="w-100">
               <p>Text : こちらから入金してください</p>
            </div>
         </div>
      </div>
      
      
   </body>
   
</html>